
#name:hover {
    background-color: greenyellow;
}

#name:focus {
    border: 3px solid red;
}

.customer:first-child {
    background-color: aqua;
}

.customer:last-child {
    background-color: blue;
}

.customer:nth-child(3) {
    color: lawngreen;
}

.customer:nth-last-child(3) {
    color: chocolate;
}

.customer:nth-child(3n -1) {
    background-color: cornflowerblue;
}