* {
    color: green;
}

body {
    background-color: salmon;
}

p {
    background-color: blue;
}

#kasia {
    background-color: hotpink;
}

.lorak {
    color: lightgreen;
}

ul a {
    color: #ff0023
}

a > span {
    background-color: lightblue;
}

li#pierwszy ~ li{
    background-color: turquoise;
}

li#pierwszu + li {
    background-color: blueviolet;
    
}